
#NET "clock" LOC = "E12"  | IOSTANDARD = LVCMOS33 | PERIOD = 20.000 ;
NET "clock" LOC = "E12"| IOSTANDARD = LVCMOS33 ;
NET "reset" LOC = "V8" | IOSTANDARD = LVCMOS33 | CLOCK_DEDICATED_ROUTE = FALSE;
#NET "RS232_datain" LOC = "E16" | IOSTANDARD = LVCMOS33;
NET "RS232_dataout" LOC = "F15" | IOSTANDARD = LVCMOS33;