

NET "clock" LOC = "E12"| IOSTANDARD = LVCMOS33;
NET "reset" LOC = "V8" | IOSTANDARD = LVCMOS33 | CLOCK_DEDICATED_ROUTE = FALSE;
NET "RS232_dataout" LOC = "F15" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
