*.dll
*.cache
*.pdb
*.txt
*.resources
bin/AnyCPU/Debug/int/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
bin/AnyCPU/Debug/int/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
bin/AnyCPU/Debug/int/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.suo
*.config
*.manifest
*.exe
src/DSConsole/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
src/DSConsole/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
src/DSConsole/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
*.xml
bin/AnyCPU/Debug/FunctionObject.ds
src/AssemblySharedInfoGenerator/AssemblySharedInfo.cs
src/AssemblySharedInfoGenerator/AssemblySharedInfo.cs
src/AssemblySharedInfoGenerator/AssemblySharedInfo.cs
*.TMP
src/DSConsole/ControlUnit.vhd
src/DSConsole/Increment.vhd
src/DSConsole/ControlUnit.vhd
src/DSConsole/test.ds
*.cmd_log
*.xreport
*.prj
*.html
*.lso
*.gise
*.xrpt
*.ref
*.xmsgs
*.vho
*.xst
*.syr
*.ngc
*.ngr
*.stx
*.c
*.didat
*.obj
*.log
*.cmd
*.dbg
*.dat
src/DSAccelerate/isim/pn_info
src/DSAccelerate/isim/Testbench_ProgramSynthesized_isim_beh.exe.sim/tmp_save/_1
*.vdb
*.ini
*.wdb
*.projectmgr
*.bld
*.map
*.ngd
*.mrp
*.xbcd
*.lst
src/DSAccelerate/isim/Testbench_PartialLoopUnrolling_isim_beh.exe.sim/tmp_save/_1
*.bit
*.bgn
*.ncd
*.drc
*.pcf
*.twr
*.par
*.pad
*.xwbt
*.ptwx
*.twx
*.unroutes
*.ut
*.ngm
*.csv
*.xpi